<?xml version="1.0" ?>
<robot name="diff_bot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<xacro:property name="body_color" value="Gazebo/Silver" />

<gazebo reference="base_link">
  <material name="body_color" value="Gazebo/Gold"></material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <self_collide>true</self_collide>
  <gravity>true</gravity>
</gazebo>

<gazebo reference="mani_base_1">
  <material>${body_color}</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <self_collide>true</self_collide>
</gazebo>

<gazebo reference="camera_link">
  <material>${body_color}</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <self_collide>true</self_collide>
</gazebo>

<gazebo reference="wheel_1">
  <material name="body_color" value="Gazebo/Black"></material>
  <mu1>0.2</mu1>
  <mu2>0.1</mu2>
  <self_collide>false</self_collide>
</gazebo>

<gazebo reference="wheel_2">
  <material name="body_color" value="Gazebo/Black"></material>
  <mu1>0.2</mu1>
  <mu2>0.1</mu2>
  <self_collide>false</self_collide>
</gazebo>

<gazebo reference="wheel_3">
  <material name="body_color" value="Gazebo/Black"></material>
  <mu1>0.2</mu1>
  <mu2>0.1</mu2>
  <self_collide>false</self_collide>
</gazebo>

<gazebo reference="wheel_4">
  <material name="body_color" value="Gazebo/Black"></material>
  <mu1>0.2</mu1>
  <mu2>0.1</mu2>
  <self_collide>false</self_collide>
</gazebo>

<gazebo reference="imu_link">
  <material name="body_color" value="Gazebo/Grass"></material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <self_collide>true</self_collide>
</gazebo>

<gazebo reference="lidar_link">
  <material name="body_color" value="Gazebo/Black"></material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <self_collide>true</self_collide>
</gazebo>

<gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
        <left_joint>Revolute_3</left_joint>
        <left_joint>Revolute_5</left_joint>
        <right_joint>Revolute_4</right_joint>
        <right_joint>Revolute_6</right_joint>

        <wheel_separation>0.5778</wheel_separation>
        <wheel_radius>0.15</wheel_radius> 

        <max_linear_acceleration>0.033</max_linear_acceleration> 
        <topic>cmd_vel</topic> 

        <odom_topic>odometry/unfiltered</odom_topic> 
        <frame_id>odom</frame_id> 
        <child_frame_id>base_footprint</child_frame_id> 
        <odom_publisher_frequency>50</odom_publisher_frequency> 
        <tf_topic>tf</tf_topic> 
    </plugin>
</gazebo>

<gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
        <topic>/joint_states</topic> 
        <joint_name>Revolute_3</joint_name>
        <joint_name>Revolute_4</joint_name>
        <joint_name>Revolute_5</joint_name>
        <joint_name>Revolute_6</joint_name>
    </plugin>
</gazebo>

<gazebo reference="imu_link">
  <gravity>true</gravity>
  <sensor name="imu_sensor" type="imu">
    <always_on>true</always_on>
    <update_rate>100</update_rate>
    <visualize>true</visualize>
    <topic>/imu/data</topic>
    <gz_frame_id>imu_link</gz_frame_id>
    <pose>0 0 0 0 0 0</pose>
  </sensor>
</gazebo>

<gazebo reference="lidar_link">
  <sensor name="lidar" type="gpu_lidar">
    <always_on>true</always_on>
    <visualize>true</visualize>
    <update_rate>10</update_rate>
    <topic>/scan</topic>
    <gz_frame_id>lidar_link</gz_frame_id>
    <lidar>
      <scan>
        <horizontal>
          <samples>360</samples>
          <resolution>1.000000</resolution>
          <min_angle>0.000000</min_angle>
          <max_angle>6.280000</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.120000</min>
        <max>3.5</max>
        <resolution>0.015000</resolution>
      </range>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.01</stddev>
      </noise>
    </lidar>
  </sensor>
</gazebo>


</robot>